/* ------------------------------------------------------------------ Nav items */

.Title{
    text-align: center;
    position: relative;
    background-color: #525252;
    color: #fafafa;
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

.nav-menu{
    padding: 0;
}

.nav-item{
    display: inline-block;
    text-align: center;
    background-color: #525252;
    padding-bottom: 35px;
}

.dropnav{
    background-color: #525252;
}

.Demacia-nav{
    color: rgb(231, 226, 175);
}

.Demacia-nav:hover{
    color: rgb(231, 226, 175, 0.4);
}


.Freljord-nav{
    color:  rgb(79, 219, 238);
}

.Freljord-nav:hover{
    color:  rgb(79, 219, 238,0.4);
}

.Ionia-nav{
    color: rgb(223, 141, 186);
}

.Ionia-nav:hover{
    color: rgb(223, 141, 186, 0.4);
}

.Noxus-nav {
    color: rgb(187, 84, 84);
}

.Noxus-nav:hover{
    color: rgb(187, 84, 84, 0.4);
}

.PandZ-nav{
    color: rgb(219, 192, 70);
}

.PandZ-nav:hover{
    color: rgb(219, 192, 70, 0.4);
}

.SI-nav{
    color: rgb(60, 133, 60);
}

.SI-nav:hover{
    color: rgb(60, 133, 60, 0.4);
}

.Contact-nav,
.Random-nav{
    color: white;
}

.Contact-nav:hover,
.Random-nav:hover{
    color: rgb(255, 255, 255, 0.4);
}

.nav-item a:hover{
    text-decoration: none;
}

/* ------------------------------------------------------------------ Footer */

.footer {
  flex-shrink: 0;
}

.lorsite {
    text-align: center;
    position: relative;
}

.patchnotes {
    text-align: center;
    position: relative;
}

.footer{
    background-color: #525252;
    color: #fafafa;
    padding-top: 15px;
    padding-bottom: 15px;
}

.lorsite-link:hover,
.patchnotes-link:hover{
    text-decoration: none;
}

/* ------------------------------------------------------------------ Region Selector */

.regionselect{
    padding-top: 20px;
}

.region{
    height: 50px;
    width: 50px;
}

.region:hover{
    opacity: 0.5;
}

/* ------------------------------------------------------------------ Playstyle Selector */

.playstyleselect{
    padding-top: 20px;
}

.playstylecheck{
    padding-left: 10px;
    padding-right: 10px;
}

/* ------------------------------------------------------------------ Champion number */

.championselect{
    padding-top: 20px;
}

.championr{
    width: 10px;
}



/* ------------------------------------------------------------------ Sample Results */

.deckregions{
    max-width: 100%;
}


.playselected{
    text-align: center;
}

.championselected{
    width: 100%
}

.champtext{
    text-align: center;
}

.number1{
    padding-left: 25px;
    padding-right: 20px 
}

.number2{
    padding-left: 80px;
    padding-right: 20px 
}

.cardshow{
    width: 100%;
    padding-right: 8px;
}

.cardview{
    padding-left: 40px;
}

.regionselected{
    text-align: center;
}

/* ------------------------------------------------------------------ card pages */

.infotext{
    text-align: center;
}

.demaciaback{
    background-color:rgb(231, 226, 175,0.5);
}

.freljordback{
    background-color: rgb(79, 219, 238,0.5);
}

.ioniaback{
    background-color: rgb(223, 141, 186,0.5);
}

.noxusback{
    background-color: rgb(187, 84, 84,0.5);
}

.PandZback{
    background-color: rgb(219, 192, 70,0.5);
}

.siback{
    background-color: rgb(60, 133, 60,0.5);
}

.section{
    margin-top: -16px;
}

/* ------------------------------------------------------------------ dropdown menu*/

.dropdown{
    background-color: #525252;
}

.mnav{
    display: none;
}

/* ------------------------------------------------------------------ sizes */

@media screen and (max-width: 800px){
    .cardshow{
        min-width: 75px;
        width: 35%;
    }

    .mnav{
        display: inline-block;
    }

    .bnav{
        display: none;
    }
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.cardshowm{
    width: 100%;
}